body,
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  background: burlywood !important;
}
.grid-dialog {
  display: inline-grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 0.5fr 0.5;
  grid-template-rows: 0.3fr 0.7fr;
  column-gap: 5px;
  row-gap: 5px;
  grid-template-areas: "input-ip input-ip" "result-ip-one result-ip-two";
  text-align: center;
}

#input-ip {
  grid-area: input-ip;
  vertical-align: middle;
}

#result-ip-one {
  grid-area: result-ip-one;
}

#result-ip-two {
  grid-area: result-ip-two;
}

.center-div {
  height: 100%;
  width: 100%;
  display: flex;
}

.center {
  width: 100%;
  margin: auto;
}

.input-body {
  margin-top: 10px;
}

.inputs {
  display: inline-block;
}

.list-results {
  width: 100%;
  display: inline-grid;
  justify-content: center;
}

.list-group-item {
  background: burlywood !important;
}

h3 {
  display: inline;
}

.input-style {
  display: inline;
  margin-left: 10px;
}
/* input:valid {
  background: green;
}
input:invalid {
  background: red;
} */
